* {
  font-family: "Noto Sans SC", sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #e94e99;
  transition: 0.5s;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered span {
  font-size: 70px;
  font-weight: bold;
}

.centered a {
  color: black;
  text-decoration: none;
}

.centered button:hover {
  transition: 0.5s;
  opacity: 0.75;
}

.parallax {
  background-image: url("https://cdn.glitch.com/2452dc77-30ce-45a9-94a1-598718986f62%2Fimageonline-co-blurimage%20(1).png?v=1626742888387");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page {
  height: auto;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 27px;
}

.left {
  text-align: left;
  justify-content: left;
  align-items: left;
}

.right {
  text-align: right;
  justify-content: right;
  align-items: right;
  padding: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  margin: 10px;
  border-radius: 3px;
  flex: 100%;
  transition: 1s;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .card,
  .cardy,
  button {
    flex: 30%;
  }
}

@media (min-width: 1000px) {
  .card,
  .cardy,
  button {
    flex: 15%;
  }
}

.slim {
  padding-right: 15%;
  padding-left: 15%;
}

details {
  background-color: #c7c7c7;
  border-radius: 9px;
  padding: 10px;
  width: 75%;
}

summary {
  color: #8363a6;
  font-size: 20px;
}

button {
  padding: 8px;
  border-radius: 10px;
  margin: 2px;
  border: none;
  
}

button:hover {
  cursor: pointer;
}